<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  
  
  <system.web>
    <!-- Set session timeout-->
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <!-- Set Connection string value -->
  <connectionStrings>
    <add name="localDB" connectionString="Data Source=ALAN-PC;Initial Catalog=SLDB;Integrated Security=True"/>
  </connectionStrings>
 
</configuration>