<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key = "XMLPath" value="C:/Users/Alan/Documents/Visual Studio 2015/Projects/E-Learning App/E-Learning App/XML/Errors.xml"/>
    <add key ="LogPath" value="C:/Users/Alan/Documents/Visual Studio 2015/Projects/E-Learning App/E-Learning App/log.txt"/>
  </appSettings>
  <system.web>
    <!-- Set session timeout-->
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="On" defaultRedirect="http://localhost:3787/Error.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="http://localhost:3787/Error404.aspx"/>
    </customErrors>
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true"/>
    
    <authentication mode="Forms"></authentication>
    <authorization>
      <deny users="?"/>
    </authorization>  
  </system.web>
  <location path="Register.aspx">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
    
  </location>
  <!-- Set Connection string value -->
  <connectionStrings>
    <add name="localDB" connectionString="Server=ALAN-PC; Database=SLDB; User ID=default-user; Password=123456" providerName="System.Data.SqlClient"/>
    <add name="userDB" connectionString="Server=ALAN-PC; Database=SLDB; User ID=guest-user; Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

